.category-bar {
  background: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.category-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 15px 25px;
    position: relative;
    font-weight: 700;
}

.cate_name {
  font-size: 14px;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  color: black;
}

.cate_name:hover {
  color: #2874f0;
  text-decoration: none;
}

.more-btn:hover .category-dropdown {
  display: block;
}

.category-dropdown {
  display: none;
  position: absolute;
  top: 28px;
  right: 0;
  background: #fff;
  min-width: 220px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  z-index: 100;
}




