/* PAGE */
.product-page {
  background: #f1f3f6;
  padding: 20px 0;
}

/* LAYOUT */
.product-layout {
  display: flex;
  gap: 30px;
  align-items: flex-start;
}

/* LEFT STICKY PANEL */
.left-panel {
  width: 40%;
  position: sticky;
  top: 90px;
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

/* ACTION BUTTONS */
.action-buttons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.cart-btn {
  flex: 1;
  padding: 14px;
  background: #ff9f00;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.buy-btn {
  flex: 1;
  padding: 14px;
  background: #fb641b;
  color: #fff;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

/* RIGHT PANEL */
.right-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.right-panel > div {
  background: #fff;
  padding-top: 20px;
  border-radius: 4px;
}

/* GALLERY */
.product-gallery {
  display: flex;
  gap: 12px;
}

.thumbs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumbs img {
  width: 64px;
  height: 64px;
  border: 1px solid #ddd;
  padding: 4px;
  cursor: pointer;
  object-fit: contain;
}

.thumbs img.active {
  border: 2px solid #2874f0;
}

.main-image {
  flex: 1;
  border: 1px solid #ddd;
  min-height: 420px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

/* PRODUCT INFO */
.info h1 {
  font-size: 18px;
  margin-bottom: 8px;
}

.rating {
  color: #388e3c;
  font-weight: 600;
}

.price {
  display: flex;
  gap: 12px;
  align-items: center;
  /* margin: 12px 0; */
}
.price_details {
  align-items: center;
  margin: 12px 0;
}
.special_price{
   color: #388e3c;
    font-weight: 600;
    font-size: 14px;
    /* margin: 12px 0 -12px; */
    text-align: left;
}
.price .current {
color: #212121;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    font-size: 28px;
}

.price .original {
  text-decoration: line-through;
  color: #878787;
}

.price .off {
  color: #388e3c;
  font-weight: 600;
}

/* REVIEWS */
.review {
  border-top: 1px solid #eee;
  padding: 5px 0;
}

.review:first-child {
  border-top: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .product-layout {
    flex-direction: column;
  }

  .left-panel,
  .right-panel {
    width: 100%;
    position: static;
  }
}
.ratingnumber{
  color: #fff;
  background-color: #388e3c;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
}
.total_review{
  color: #878787;
  font-size: 13px;
  margin-left: 5px;
}
.stock{
  color: #000;
  font-weight: 600;
}
.offers{
font-size: 14px;
}
.speci{
  font-weight: 600;
}
.specifications{
border: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 12px;
    margin-top: 24px;
}
.speci_title{
border-bottom: 1px solid #f0f0f0;
    border-radius: 2px;
    font-size: 24px;
    /* margin-top: 24px; */
    padding:24px 30px 24px 24px;
    font-weight: 600;
}
.offers li {
  display: grid;
  grid-template-columns: 140px 1fr; /* same gap for all */
  gap: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  margin-top: 10px;
}

.offerss li {
  display: grid;
  
  gap: 12px;
  margin-bottom: 8px;
  font-size: 14px;
  margin-top: 10px;
}
.offers .label {
  color: #666;
  font-weight: 500;
}

.offers .label::after {
  content: ":";
}

.offers .value {
  color: #000;
}
